h1 {
  color: #aaa;
  text-align: center;
}
body {
  background-color: #eee;
}
/* div {
  display: inline-block;
  margin: 50px 50px 50px 50px;
  height: 200px;
  width: 200px;
} */
.botton:hover {
  background-color: rgb(0, 255, 170);
  cursor: pointer;
}
.botton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: aquamarine;
  display: flex;
  line-height: 50px;
  box-shadow:0 0 8px 4px rgb(131, 131, 131);
  margin: 10px 10px;
}
.test3:hover {
  background-color: #7dee9f;
}
.test2:hover {
  background-color: #28acf8;
}
.test1:hover {
  display: none;
}
.test1::after {
  content: "";
  display: block;
  clear: both;
}
.test2:focus {
  background-color: #f1b07a;
}
.test3 {
  background-color: #28acf8;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #555;
}
.test1 {
  position: relative;
  background-color: #7dee9f;
  float: left;
  width: 100px;
  height: 100px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #555;
}
.test2 {
  background-color: #f1b07a;
  width: 100px;
  height: 100px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #555;
}
article p::first-line {
  font-size: 120%;
  font-weight: bold;
}
/*** SVG demonstration ***/

/* page */
svg {
  background-color: beige;
}

#heading {
  font-size: 24px;
  font-weight: bold;
}

#caption {
  font-size: 12px;
}

/* flower */
#flower:hover {
  cursor: crosshair;
}

/* gradient */
#fade-stop-1 {
  stop-color: blue;
}

#fade-stop-2 {
  stop-color: white;
}

/* petals */
.segment-fill {
  fill: var(--segment-fill-fill);
  stroke: var(--segment-fill-stroke);
  stroke-width: var(--segment-fill-stroke-width);
}

.segment-fill:hover {
  fill: var(--segment-fill-fill-hover);
  stroke: var(--segment-fill-stroke-hover);
}

.segment-edge {
  fill: var(--segment-edge-fill);
  stroke: var(--segment-edge-stroke);
  stroke-width: var(--segment-edge-stroke-width);
}

.segment-edge:hover {
  stroke: var(--segment-edge-stroke-hover);
}

/* outer petals */
#outer-petals {
  opacity: 0.75;
  --segment-fill-fill: azure;
  --segment-fill-stroke: lightsteelblue;
  --segment-fill-stroke-width: 1;
  --segment-edge-fill: none;
  --segment-edge-stroke: deepskyblue;
  --segment-edge-stroke-width: 3;
  --segment-fill-fill-hover: plum;
  --segment-fill-stroke-hover: none;
  --segment-edge-stroke-hover: slateblue;
}

/*
 Non-standard way of styling elements referenced via <use> elements,
 supported by some older browsers
*/
#outer-petals .segment-fill {
  fill: azure;
  stroke: lightsteelblue;
  stroke-width: 1;
}

#outer-petals .segment-edge {
  fill: none;
  stroke: deepskyblue;
  stroke-width: 3;
}

#outer-petals .segment:hover > .segment-fill {
  fill: plum;
  stroke: none;
}

#outer-petals .segment:hover > .segment-edge {
  stroke: slateblue;
}

/* inner petals */
#inner-petals {
  --segment-fill-fill: yellow;
  --segment-fill-stroke: yellow;
  --segment-fill-stroke-width: 1;
  --segment-edge-fill: none;
  --segment-edge-stroke: yellowgreen;
  --segment-edge-stroke-width: 9;
  --segment-fill-fill-hover: darkseagreen;
  --segment-fill-stroke-hover: none;
  --segment-edge-stroke-hover: green;
}

/*
 Non-standard way of styling elements referenced via <use> elements,
 supported by some older browsers
*/
#inner-petals .segment-fill {
  fill: yellow;
  stroke: yellow;
  stroke-width: 1;
}

#inner-petals .segment-edge {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 9;
}

#inner-petals .segment:hover > .segment-fill {
  fill: darkseagreen;
  stroke: none;
}

#inner-petals .segment:hover > .segment-edge {
  stroke: green;
}
